@model List<Ling.Domains.Entities.ContactInquiry>

<table class="table table-sm mb-0 table-dashboard fs--1 no-footer dataTable table-striped" id="tblContactInquiries">
    <thead class="bg-200 text-900">
        <tr>
            <th class="hide">ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Status</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
</table>