<nav class="navbar navbar-vertical navbar-expand-xl navbar-light navbar-glass">
    <a class="navbar-brand text-left" href="@Url.Content("~/")">
        <div class="d-flex align-items-center py-3" style="font-size:25px;padding-top:10px!important;padding-bottom:10px!important;color:#ab5188;">
            <img class="mr-2" src="@Url.Content("~/assets/images/logo.png")" style="width:100%;" alt="" width="40">
        </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <ul class="navbar-nav flex-column">
            <li class="nav-item" id="liDashboard">
                <a class="nav-link" href="@Url.Content("~/home/index")">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon">
                            <i></i>
                        </span>
                        <span class="nav-link-text">Dashboard</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
