
<div class="card-body px-0 pt-0">
    <div class="col-12 col-sm-auto ml-auto text-right custom-component">
        <div id="dashboard-actions">
            <a href="@Url.Content("~/WebsiteSetting/ClearBrowserCache")" class="btn btn-ling-default btn-sm">
                <i class="fa fa-eraser fa-w-14"></i>
                Clear Browser Cache
            </a>
        </div>
    </div>
    <table class="table table-sm mb-0 table-dashboard fs--1 no-footer dataTable table-striped" id="tblwebsitesettings">
        <thead class="bg-200 text-900">
            <tr>
                <th style="width:200px;">Name</th>
                <th>Value</th>
                <th style="width:110px;">Modified By</th>
                <th style="width:115px;">Modified Date</th>
                <th style="width:10px;">&nbsp;</th>
            </tr>
        </thead>
    </table>
</div>